<div>
	<div>Nombre del dueño:</div>
	<%= f.text_field :ownerName %>
</div>

<div>
	<div>Id dueño:</div>
	<%= f.text_field :ownerId %>
</div>

<div>
	<div>Fecha de cita:</div>
	<%= f.date_select :meetingDate %>
</div>

<div>
	<div>Hora de cita:</div>
	<%= f.text_field :meetingHour%>
</div>

<div>
	<div>Doctor:</div>
	<%= f.text_field :doctor_id%>
</div>

<div>
	<br>
	<%= link_to "Atras", meetings_path%>
</div>