<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<h2> Ver cita de<%= @meeting.ownerName %></h2>
    <%form_for @meeting do |f|%>
    <%= render :partial => "form_meeting", :locals => {:f => f}%>
<% end %>
