<h2> Edit <%= @breed.name %></h2>
    <%form_for :breed, :url => breed_path, :html => {:method => :put}  do |f|%>
      <%= render :partial => "form_breed", :locals => {:f => f}%>
    <% end %>
<%= link_to 'Show', @breed %> |
<%= link_to 'Back', breeds_path %>