<h3>Buscar Raza</h3>
  <%form_for :breed, :url => search_breeds_path, :html => {:method => :get, :id => "search"}  do |f|%>
     <div>Nombre
         <input type="text" size="25"  name="name">
         Especie
         <input type="text" size="25"  name="specie">
         <%= f.submit 'Buscar'%>
      </div>

  <%end%> 
    <div id = "partials">
     <%= render 'searchResults'%>
    </div>
