<p id="notice"><%= notice %></p>
<h2> Ver a <%= @breed.name %></h2>

<div>
  <strong>Name</strong></> <%= @breed.name %>
  <strong>Description</strong></> <%= @breed.description %>
  <strong>Specie</strong></> <%= @breed.specie.name%>
</div>

<%= link_to 'Edit', edit_breed_path(@breed)%> |
<%= link_to 'Back', breeds_path %>