<h3>Search</h3>
  <%form_for :species, :url => search_species_index_path, :html => {:method => :get, :id => "search"}  do |f|%>

      
      
      <div>Name
         <input type="text" size="25"  name="name"> 
         <%= f.submit %>
      </div>
              
 <%end%>


    <div id = "partials">
      <%= render 'searchResults'%>
    </div>


