body {
  background-color: #3D7BBB;
}

#container2{
 
  margin: 50px 50px 0px 50px;
  padding:  10px 10px 10px 5px;
  background-color: #FFF;
  font-family: arial, verdana, sans-serif; 
  border-radius: 5px;
}

#container {
 
  margin: 5px 50px 50px 50px;
  padding:  10px 100px 10px 100px;
  background-color: #FFF;
  font-family: arial, verdana, sans-serif; 
  border-radius: 5px;
}

#consulta1{
  float:left;
}


#imagenLogo{
  padding:  0px 10px 10px 5px;
}

#show{
  
  text-align: justify;
  padding-right:100px ;
  padding-left: 50px;
  border-style: solid;
  width: 50%;
}

#show p{
  padding: 0px 200px 20px 20px;
}

#show h4{
  text-decoration: underline;
}



#index {
  font-size: 12px;
  background: #fff;
  width: 480px;
  border-collapse: collapse;
  text-align: left;
}

#index th{
  font-size: 14px;
  font-weight: normal;
  color: #039;
  padding: 10px 8px;
  border-bottom: 2px solid #6678b1;
}

#index td{
  color: #669;
  padding: 9px 8px 0px 8px;
}


#flash_notice, #flash_error {
  padding: 5px 8px;
  margin-left: 50px;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
