<%form_for :user, :url => correo_users_path, :html => {:method => :get}  do |f|%>

      <div>
      
        <% use_tinymce -%>
        <!--><TEXTAREA Name="email" rows="4" cols="20" class="mce-editor"></TEXTAREA> 
       <--> 
        <%= text_area_tag :first_name, nil, :class => "mce-editor" %>
     
        
      </div>
      
      <div class="actions">
        <%= f.submit %>
      </div>
<%end%>
      

