<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<h2> Editar <%= @client.name %></h2>
    <%form_for :client, :url => client_path, :html => {:method => :put}  do |f|%>
      <%= render :partial => "form_client", :locals => {:f => f}%>
	  <%= f.submit :salvar%>
<% end %>