<h1>Veterinary Clinical</h1>

<p>
  This is the home page for the
  <%= link_to "Clinical Veterinary", pages_home_path%> Veterinary application.
</p>

<%= link_to "Sign up now!", new_user_registration_path, :class => "signup_button round" %>
