<h2> Edit</h2>
    <%form_for :animal, :url => animal_path, :html => {:method => :put}  do |f|%>
      <%= render :partial => "form_animal", :locals => {:f => f}%>	    
    <% end %>

<%= link_to 'Show', @animal %>|
<%= link_to 'Back', animals_path %>
