<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<h2> Editar <%= @doctor.name %></h2>
    <%form_for :doctor, :url => doctor_path, :html => {:method => :put}  do |f|%>
      <%= render :partial => "form_doctor", :locals => {:f => f}%>
	  <%= f.submit :salvar%>
<% end %>