<div>
	<div>Dia:</div>
	<%= f.text_field :day %>
</div>

<div>
	<div>Hora inicio:</div>
	<%= f.text_field :startTime %>
</div>

<div>
	<div>Hora Final:</div>
	<%= f.text_field :finalHour%>
</div>

<div>
	<div>Doctor:</div>
	<%= f.text_field :doctor_id%>
</div>

<div>
	<br>
	<%= link_to "Atras", horaries_path%>
</div>